{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInDown">
          <h2>{{ with .Params.Title }} {{ . | safeHTML }} {{ end }}<span class="color">
              {{ with i18n "templates" }} {{ . | safeHTML }} {{ end }}</span></h2>
          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}
      {{ range .Data.Pages }}
        {{ .Render "template" }}
      {{ end }}
    </div>
  </div>
</section>
{{"<!-- /blog -->" | safeHTML}}

{{ end }}